{% extends "base.html" %}

{% load i18n %}


{% block title %} Scantailor {% endblock %}

{% block signpost %}
<div id="signpost">
<p class="p1">
	<img width="240" height="296" src="/static/img/prereqs.png" alt="save button"> <span></span>
	</p>
<p class="p2">&nbsp;</p>
</div>
{% endblock %}

{% block content %}
<h3><span> ********** UNFINISHED PAGE ********** </span></h3>
<p class="space-below">SCANTAILOR INTEGRATION WOULD PRESUMABLY BEGIN HERE. <br/>
THANKS FOR USING THIS SOFTWARE! MORE TO COME LATER!
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

</p>
{% endblock %}

{% block buttonbar %}
<a id="previous"   href="{{ vars.previous }}"><img src="/static/img/Button-Previous-icon-50.png" width="50" height="50" alt="Previous button">{% trans 'Previous' %}</a>
<a id="next" href="{{ vars.next }}"><img src="/static/img/Button-Next-icon-50.png" width="50" height="50" alt="Next button">Next</a>
{% endblock %}